.Board-filter li {
  cursor: pointer;
  margin-left: 5px;
  padding: 5px;
  list-style-type: none;
}

.Board-filter .Selected {
  background-color: aqua;
}

.Board-filter li:hover {
  background-color: aqua;
}

.Board-filter li:first-child {
  margin-left: 0;
}